<center><h1>SIGN UP BELOW</h1></center>
<style>
    h3{
        color: red;
    }
</style>
{% for message in messages%} 
<h3>{{message}}</h3>
{% endfor %}
<form style = "text-align: center" method="POST" action="register">
    {% csrf_token %}
    <p>Username:</p>
    <input type="text" name="username" />
    <p>Email:</p>
    <input type="email" name="email" />
    <p>Password</p>
    <input type = "password" name="password" />
    <p>Re-Enter Password</p>
    <input type="password" name="password2" /><br><br>
    <input type="submit" />
</form>